.сardCont{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catCard{
    position: relative;
    border: 1px solid green;
    width: 225px;
    height: 225px;
}

.catCard:hover .heartHidden  {
    display: block;
  }

.catImg {
    width: 100%;
    height: 100%;
  }

  .catLoadCont {
    display: flex;
    justify-content: center;
  }

.heartHidden {    
    position: absolute;
    display: none;
    right: 0;
    bottom: 0;
}

.heart {
    composes: heartHidden;
    display: block;
}

  .heartHidden:hover {
    background-image: url(../media/heart-filled.svg);
  }