:root {
    --header-h: 64px;
    --butt-active-bg: #1E88E5;
  }

.catsHeader{
    display: flex;
    height: var(--header-h);
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    composes: gHorzPadding from "../App.css";
}

.butt{
    height: 100%;
    width: 120px;
    line-height: var(--header-h);
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    transition: background-color 0.2s ease-out;
}

.buttActive{
    background-color: var(--butt-active-bg);
}

.butt:hover{
    background-color: #1E88E5; 
}

